$cannvest-color:                 #00ab81 !default;
$cannvest-states-color:          lighten($cannvest-color, 6%) !default;
$cannvest-color-opacity:         rgba(44, 168, 255, .3) !default;
$cannvest-color-alert:           rgba(44, 168, 255, .8) !default;